.row
  .span8.offset2
    .hero-unit
      h2 Welcome!
      p Welcome to the Developing a D3 Edge Demo Application. Here you will find the demo applications
        |organized by chapter. In addition, you can view the source code by chapter as well.
      .row
        .span7.offset1
          .btn-group
            a.btn.btn-primary.btn-large(href="#/examples") View Examples
            a.btn.btn-primary.btn-large(href="https://github.com/andrewthornton/D3Edge") GitHub
            a.btn.btn-primary.btn-large(href="http://bleedingedgepress.com/contact") Contact
            a.btn.btn-primary.btn-large(href="http://bleedingedgepress.com/our-books/developing-a-d3-js-edge/") Book